.ss{
    padding-top: 5px;
    object-fit: fill;
    width: 30% !important;
}

.underlined{
    text-decoration: underline;
}

#ingredients{
    height: 200px !important;
    overflow: auto;
    width: 100% !important;
    margin-left: -2%;
}

#instructions{
    height: 200px !important;
    overflow: auto;
    width: 100% !important;
    margin-left: -3.5%;
}

#ingredients div, #instructions div{
    display: inline-block;
    background-color: #ffdb99; /*#ffd280*/
    padding: 10px;
    margin: 5px;
    overflow: auto;
}

ol li{
    margin-left: 20px;
}